@use './common';
@use './common/layout' as ui;
@use './common/animation' as anim;
@use './common/colors' as color;


$resistorColor : hsl(39, 52%, 80%);
$text-color : color.color("text", $mix : 90%, $opacity : 90);

body {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: $text-color;
    padding-top: 40px;

    h1 {
        text-align: center;
        font-size: 1.5em;
    }

    >.container {
        width: 100%;
    }
}

.carbonResistor {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-inline: auto;
    width: min(320px, 90%);

    .left,
    .right {
        width: 20%;
        background-color: red;
        height: inherit;
        background-color: $resistorColor;
        border-radius: 12px;
    }



    .center {
        width: 60%;
        height: 100px;
        background-color: $resistorColor;
        display: flex;
        justify-content: space-around;
        align-content: center;

        .color1,
        .color2,
        .color3,
        .color4 {
            width: 11px;
            height: 100px;
            background-color: black;
        }
    }
}

.container {

    >.resultDiv {
        p {
            font-weight: 500;
            text-align: center;
        }

        p.minmax {
            font-size: 0.8em;
        }
    }

    .selection {
        max-width: 500px;
        margin-top: 50px;
        padding: 20px;
        margin-inline: auto;

        .bandSelect {
            display: flex;
            justify-content: space-between;
            align-content: center;
            margin-bottom: 15px;

            p {
                // background-color: #888;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            select {
                outline-color: $resistorColor;
                width: 50%;
                padding: 7px 15px;
                border: 1px solid #888;
                border-radius: 5px;
                background-color: #f5f5f5;
                // font-weight: 500;
                color: $text-color;
            }

        }
    }

    .endDiv {
        margin-top: 30px;

        p {
            text-align: center;
            font-size: 0.9em;
        }
    }
}